/* @import url('https://fonts.googleapis.com/css2?family=Foldit&family=Nova+Square&family=Nunito:wght@200;300;400;500&display=swap'); */

  /* @import url('https://fonts.googleapis.com/css2?family=Literata:wght@500&display=swap'); */

  /* @import url('https://fonts.googleapis.com/css2?family=Arapey&display=swap'); */
  
  @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@500&display=swap');


* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --greendark: #469469;
    --greenlight: #27b367;
    --primary: #3c6e71;
    --secondary: #213c5c;
    --smokeshade: #bebebe;
}

body {
    font-family: BrandonText,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 16px;
    background-color: #c1c1c152;   
}

header {
    width: 100vw;
    padding: 2rem;
    background-color: var(--primary);
    box-shadow: 15px 15px 30px var(--smokeshade),
    -15px -15px 30px #ffffff;

}

header h1{
    font-family: 'Noto Serif Bengali', serif;
    font-size: 40px;
    text-align: center;
    color: var(--greenlight);
    /* box-shadow: 15px 15px 30px #bebebe,
    -15px -15px 30px #ffffff; */

}

.header-span {
    color: var(--primary);
    margin-left: 2px;
    padding: 4px;
    border: 2px solid var(--greenlight);
    border-radius: 7px;
    background: var(--greenlight);
}

/* FORM */

form{
    display: grid;
    width: 90%;
    gap: 1rem;
    padding: 2rem;
    padding-bottom: 4rem; 
    border-radius: 2rem;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px var(--smokeshade),
               -15px -15px 30px #ffffff;
}

#location-div {
    display: flex;
    align-items: center;
}

#location {
    width: 100%;
}

.fa-location-crosshairs {
    margin: 0 0.5rem;
    cursor: pointer;
}

label{
    color: black;
    
}

input {
    margin: 5px 0;
    padding: 3px;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    border: none;
    background-color: #f9f6f6cf;
}

/* ERROR MSG */

#error-msg {
    text-align: center;
}


/* RADIUS */

.radius {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.radius input {
    width: 100%;
}

#cuisine{
    border-radius: 5px;
    border: none;
    background-color: #f9f6f6cf;
}

/* RADIUS & PRICE RANGE */

.radius, .price-range {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.radius input {
    width: 100%;
}

/* PRICE RANGE */

.price-range {
    justify-content: center;
}

button{
    background-color: var(--greendark);
    color: rgb(254, 254, 254);
    border-radius: 7px;
    padding: 0.5rem;
    font-family: inherit;
    border: none;
    position: relative;
    box-shadow: 6px 6px 12px var(--smokeshade),
             -6px -6px 12px #ffffff;           
}

button:hover{
    background-color: var(--greenlight);
}

button:active{
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 8%;
    padding-right: 8%;
       

}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a{
    color: rgb(6, 6, 6);
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

/* main {
    width: 80vw;
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
} */

.background-wrapper {
    background: center / cover no-repeat url(../assets/background/foodbackground.jpeg);
    width: 100%;
}

.map-search-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 2rem;
    max-width: 1400px;
    margin: 0 auto;
    gap: 2rem;
    background: transparent;
    /* background: center / cover no-repeat url(../assets/background/foodbackground.jpeg); */
}

h2{
    display: flex;
    justify-content: center;
    width:inherit;
}

#results-container {
    padding: 0 0 2rem 0;
    background: white;
    
}

.result-header {
    text-align: center;
    width: 100%;
    padding: 1.4rem;
    font-size: 3ch;
    text-transform: uppercase;
    color: var(--greendark);
    box-shadow: 15px 15px 30px #bebebe,
    -15px -15px 30px #ffffff;

}
i.fa-solid.fa-map-pin{
    margin-left: 10px;
}

/* RESULTS CONTAINER */

#results{
    display: grid;
    grid-template-columns: 1fr;
    padding: 3rem 1rem;
    gap: 2rem;
}

/* RESULT CARDS */

.result-card {
    display: flex;
    flex-flow: column nowrap;
    min-width: 0;
    padding: 1.25rem;
    gap: 10px;
    border-radius: 2rem;
    background: #e0e0e0;
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: inset 0 -3em 3em rgba(232, 225, 225, 0.1),
                0 0  0 2px rgb(187 152 89),
                0.3em 0.3em 1em rgba(255, 255, 255, 0.3);
}

.result-card h3 {
    text-align: center;
    text-transform: uppercase;
}

/* RESULT CARDS CONTENT */

.result-content {
    display: grid;
    min-width: 0;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.5rem;
}

.result-img {
    width: 100%;
    height: 100%;
    aspect-ratio: 3/2;
    max-height: 400px;
    object-fit: cover;
}

.result-card a {
    text-transform: none;
    text-decoration: none;
    text-align: center;
    padding: 7px;
    width: 100%;
    background: var(--greendark);
}

.result-card a:hover {
    background: var(--greenlight);
}

.result-content-info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    gap: 10px;
}


/* #results:hover{
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;

} */


.map-contaner {
    height: 100%;
}

#map {
    height: 500px;
    width: 90%;
    border-radius: 20px;
    box-shadow: 15px 15px 30px var(--smokeshade),
    -15px -15px 30px #ffffff;
}

div ul li{
    list-style-type: none;
    display: flex;
    padding: 10px 70px; 
    margin-top: auto;
}

div ul li a{
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}

div ul li a:hover{
    transform: translate(0px, 4px);
}

footer{
    display: flex;
    flex-direction: column;
}

/* MEDIA QUERIES */

@media(min-width: 40em) {

    .result-content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 60em) {
    #results {
        grid-template-columns: repeat(3, 1fr);
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
    }

    .result-content {
        grid-template-columns: none;
    }
}

@media (min-width: 80em) {

    .map-search-container {
        flex-flow: row nowrap;
    }

    #map {
        width: 70%;
    }

    form {
        width: auto;
    }
}

